{{ define "main" }}
<article>
    <header>
        <a href="{{ .Site.BaseURL }}">Back to home</a>
        <h1>{{ .Title }}</h1>
        <!-- linked tags -->
        {{ with .Params.tags }}
            <ul>
                {{ range . }}
                    <li>
                        <a href="{{ printf "/tags/%s" . | relURL }}">{{ . }}</a>
                    </li>
                {{ end }}
            </ul>
        {{ end }}
    </header>
    {{ .Content }}


    {{ $currentDir := .File.Dir }}
    {{ with .Resources.Match "*.pdf" }}
        {{ range . }}
        <embed src="{{ .RelPermalink }}" width="100%" height="600px" />
        {{ end }}
    {{ end }}
</article>
{{ end }}